/* fonts.css - Versión corregida */
@font-face {
  font-family: 'Glancyr';
  src: url('/fonts/Glancyr-Bold.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* esta hija de puta SEMIBOLD no la toma chrome no se xq */
/* @font-face {  
  font-family: 'Glancyr';
  src: url('/fonts/Glancyr-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
 */
@font-face {
  font-family: 'Glancyr';
  src: url('/fonts/Glancyr-ExtraLight.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Glancyr';
  src: url('/fonts/Glancyr-Regular.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}